table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}
.table {
  width: 100%;
  margin-bottom: 20px;
}
.table th,
.table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid rgba(51, 51, 51, 0.35);
}
.table th {
  font-weight: bold;
}
.table thead th {
  vertical-align: bottom;
}
.table caption + thead tr:first-child th,
.table caption + thead tr:first-child td,
.table colgroup + thead tr:first-child th,
.table colgroup + thead tr:first-child td,
.table thead:first-child tr:first-child th,
.table thead:first-child tr:first-child td {
  border-top: 0;
}
.table tbody + tbody {
  border-top: 2px solid rgba(51, 51, 51, 0.35);
}
.table .table {
  background-color: white;
}
.table-condensed th,
.table-condensed td {
  padding: 4px 5px;
}
.table-bordered {
  border: 1px solid rgba(51, 51, 51, 0.35);
  border-collapse: separate;
  *border-collapse: collapse;
  border-left: 0;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}
.table-bordered th,
.table-bordered td {
  border-left: 1px solid rgba(51, 51, 51, 0.35);
}
.table-bordered caption + thead tr:first-child th,
.table-bordered caption + tbody tr:first-child th,
.table-bordered caption + tbody tr:first-child td,
.table-bordered colgroup + thead tr:first-child th,
.table-bordered colgroup + tbody tr:first-child th,
.table-bordered colgroup + tbody tr:first-child td,
.table-bordered thead:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child td {
  border-top: 0;
}
.table-bordered thead:first-child tr:first-child > th:first-child,
.table-bordered tbody:first-child tr:first-child > td:first-child,
.table-bordered tbody:first-child tr:first-child > th:first-child {
  -webkit-border-top-left-radius: 1px;
  -moz-border-radius-topleft: 1px;
  border-top-left-radius: 1px;
}
.table-bordered thead:first-child tr:first-child > th:last-child,
.table-bordered tbody:first-child tr:first-child > td:last-child,
.table-bordered tbody:first-child tr:first-child > th:last-child {
  -webkit-border-top-right-radius: 1px;
  -moz-border-radius-topright: 1px;
  border-top-right-radius: 1px;
}
.table-bordered thead:last-child tr:last-child > th:first-child,
.table-bordered tbody:last-child tr:last-child > td:first-child,
.table-bordered tbody:last-child tr:last-child > th:first-child,
.table-bordered tfoot:last-child tr:last-child > td:first-child,
.table-bordered tfoot:last-child tr:last-child > th:first-child {
  -webkit-border-bottom-left-radius: 1px;
  -moz-border-radius-bottomleft: 1px;
  border-bottom-left-radius: 1px;
}
.table-bordered thead:last-child tr:last-child > th:last-child,
.table-bordered tbody:last-child tr:last-child > td:last-child,
.table-bordered tbody:last-child tr:last-child > th:last-child,
.table-bordered tfoot:last-child tr:last-child > td:last-child,
.table-bordered tfoot:last-child tr:last-child > th:last-child {
  -webkit-border-bottom-right-radius: 1px;
  -moz-border-radius-bottomright: 1px;
  border-bottom-right-radius: 1px;
}
.table-bordered tfoot + tbody:last-child tr:last-child td:first-child {
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  border-bottom-left-radius: 0;
}
.table-bordered tfoot + tbody:last-child tr:last-child td:last-child {
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius-bottomright: 0;
  border-bottom-right-radius: 0;
}
.table-bordered caption + thead tr:first-child th:first-child,
.table-bordered caption + tbody tr:first-child td:first-child,
.table-bordered colgroup + thead tr:first-child th:first-child,
.table-bordered colgroup + tbody tr:first-child td:first-child {
  -webkit-border-top-left-radius: 1px;
  -moz-border-radius-topleft: 1px;
  border-top-left-radius: 1px;
}
.table-bordered caption + thead tr:first-child th:last-child,
.table-bordered caption + tbody tr:first-child td:last-child,
.table-bordered colgroup + thead tr:first-child th:last-child,
.table-bordered colgroup + tbody tr:first-child td:last-child {
  -webkit-border-top-right-radius: 1px;
  -moz-border-radius-topright: 1px;
  border-top-right-radius: 1px;
}
.table-striped tbody > tr:nth-child(odd) > td,
.table-striped tbody > tr:nth-child(odd) > th {
  background-color: #f1f0ff;
}
.table-hover tbody tr:hover > td,
.table-hover tbody tr:hover > th {
  background-color: #f1f0ff;
}
table td[class*="span"],
table th[class*="span"],
.row-fluid table td[class*="span"],
.row-fluid table th[class*="span"] {
  display: table-cell;
  float: none;
  margin-left: 0;
}
.table td.span1,
.table th.span1 {
  float: none;
  width: 44px;
  margin-left: 0;
}
.table td.span2,
.table th.span2 {
  float: none;
  width: 124px;
  margin-left: 0;
}
.table td.span3,
.table th.span3 {
  float: none;
  width: 204px;
  margin-left: 0;
}
.table td.span4,
.table th.span4 {
  float: none;
  width: 284px;
  margin-left: 0;
}
.table td.span5,
.table th.span5 {
  float: none;
  width: 364px;
  margin-left: 0;
}
.table td.span6,
.table th.span6 {
  float: none;
  width: 444px;
  margin-left: 0;
}
.table td.span7,
.table th.span7 {
  float: none;
  width: 524px;
  margin-left: 0;
}
.table td.span8,
.table th.span8 {
  float: none;
  width: 604px;
  margin-left: 0;
}
.table td.span9,
.table th.span9 {
  float: none;
  width: 684px;
  margin-left: 0;
}
.table td.span10,
.table th.span10 {
  float: none;
  width: 764px;
  margin-left: 0;
}
.table td.span11,
.table th.span11 {
  float: none;
  width: 844px;
  margin-left: 0;
}
.table td.span12,
.table th.span12 {
  float: none;
  width: 924px;
  margin-left: 0;
}
.table tbody tr.success > td {
  background-color: #56bc76;
}
.table tbody tr.error > td {
  background-color: #e5603b;
}
.table tbody tr.warning > td {
  background-color: #eac85e;
}
.table tbody tr.info > td {
  background-color: #618fb0;
}
.table-hover tbody tr.success:hover > td {
  background-color: #47b268;
}
.table-hover tbody tr.error:hover > td {
  background-color: #e24e24;
}
.table-hover tbody tr.warning:hover > td {
  background-color: #e7c047;
}
.table-hover tbody tr.info:hover > td {
  background-color: #5383a5;
}
.icon {
  position: relative;
  z-index: 1;
  text-align: center;
  width: 53px;
  height: 53px;
  line-height: 53px;
  vertical-align: middle;
  -webkit-border-radius: 53px;
  -moz-border-radius: 53px;
  -ms-border-radius: 53px;
  -o-border-radius: 53px;
  border-radius: 53px;
}
img {
  max-width: 100%;
  width: auto\9;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
.feed {
  height: 100%;
  position: relative;
}
.feed .wrapper {
  position: relative;
}
.feed .vertical-line {
  height: 100%;
  width: 2px;
  position: absolute;
  left: 13px;
}
.feed-item {
  *zoom: 1;
  padding-right: 6px;
}
.feed-item:before,
.feed-item:after {
  display: table;
  content: "";
  line-height: 0;
}
.feed-item:after {
  clear: both;
}
.feed-item .icon {
  position: relative;
  z-index: 1;
  background: rgba(51, 51, 51, 0.4);
  text-align: center;
  color: white;
  width: 28px;
  height: 28px;
  line-height: 28px;
  vertical-align: middle;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  font-size: 16px;
}
.feed-item .icon img {
  position: relative;
  top: -2px;
  width: 26px;
  height: 26px;
}
.feed-item + .feed-item {
  margin-top: 10px;
}
.feed-item-body {
  padding-top: 3px;
  margin-left: 40px;
  vertical-align: bottom;
}
.feed-item-body .time {
  font-size: 11.05px;
  line-height: 1.5em;
  color: #d2d2d2;
}
html {
  font-family: 'Titillium Web', sans-serif;
  color: #443266;
  background-attachment: fixed;
}
.box-dimension {
  background: rgba(253, 253, 255, 0.9);
  box-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 rgba(0, 0, 0, 0.2), 0 5px 1px rgba(0, 0, 0, 0.1), 0 0 3px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}
.box-dimension-small {
  font-family: 'Titillium Web', sans-serif;
  color: #443266;
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-appearance: none;
  background: rgba(253, 253, 255, 0.9);
  box-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 1px 3px rgba(0, 0, 0, 0.2);
}
.profile-img-small {
  border: 2px solid #f1f0ff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
a {
  text-decoration: none;
  color: inherit;
}
a.btn {
  padding: 5px 10px;
  display: block;
  font-family: 'Titillium Web', sans-serif;
  color: #443266;
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-appearance: none;
  background: rgba(253, 253, 255, 0.9);
  box-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 1px 3px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
a.btn i {
  color: #443266;
}
button {
  font-family: 'Titillium Web', sans-serif;
  color: #443266;
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-appearance: none;
  background: rgba(253, 253, 255, 0.9);
  box-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 1px 3px rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
}
header.nav-header {
  width: 100%;
  height: 60px;
  padding: 0 20px;
  background: rgba(253, 253, 255, 0.9);
  box-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 rgba(0, 0, 0, 0.2), 0 5px 1px rgba(0, 0, 0, 0.1), 0 0 3px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  position: fixed;
  top: 0px;
  z-index: 100;
}
header.nav-header .container {
  width: 90%;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}
header.nav-header .container ul.nav {
  margin-left: 20px;
  float: left;
  height: 60px;
}
header.nav-header .container ul.nav li {
  margin: 0 10px;
  padding: 0 10px;
  line-height: 60px;
  float: left;
}
header.nav-header .brand {
  text-transform: uppercase;
  line-height: 55px;
  font-size: 24px;
  display: block;
  float: left;
}
header.nav-header .navbar-form {
  height: 60px;
  float: right;
}
header.nav-header .navbar-form .btn {
  margin: 12px 0 0 0;
}
div.main-body {
  width: 90%;
  margin: 60px auto 0 auto;
  padding: 20px;
  position: relative;
  z-index: 90;
}
div.main-body #siteConfigHeader {
  margin-bottom: 20px;
}
div.main-body #siteConfigHeader h2.page-title {
  font-size: 24px;
  text-transform: uppercase;
}
div.main-body .widget {
  margin-bottom: 20px;
  background: rgba(253, 253, 255, 0.9);
  box-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 rgba(0, 0, 0, 0.2), 0 5px 1px rgba(0, 0, 0, 0.1), 0 0 3px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}
div.main-body .widget header {
  width: 100%;
  float: left;
  position: relative;
  border-bottom: 1px solid #c3c3e5;
}
div.main-body .widget header .actions {
  float: right;
}
div.main-body .widget header h2,
div.main-body .widget header h4 {
  float: left;
  padding: 10px 0 10px 10px;
  font-size: 20px;
  font-weight: 600;
}
div.main-body .widget .body {
  height: 315px;
  padding: 20px;
  overflow: scroll;
}
div.main-body .widget .body td {
  border-color: #c3c3e5;
}
footer {
  width: 100%;
  height: 20px;
  padding: 0 20px;
  background: rgba(253, 253, 255, 0.9);
  box-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 rgba(0, 0, 0, 0.2), 0 5px 1px rgba(0, 0, 0, 0.1), 0 0 3px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  position: fixed;
  bottom: 0px;
  z-index: 100;
}