<style>

.progress-meter .background {
  fill: #DFEAFD;
}
.progress-meter .foreground {
  fill: #2E7AF9;
}
.progress-meter text {
  font-family: 'Georgia' sans-serif;
  font-size: 90px;
}
.progress-meter .text2 {
  font-family: 'Georgia' sans-serif;
  font-size: 20px;
}

</style>
<div fade-in class="wrap">
	
	<div class="content container">
		<div class="row">
			<div id="siteConfigHeader" class="span12" ng-controller="SiteConfigCtrl">
				<h2 class="page-title">{{site.incentivename}}</h2>
			</div>
		</div>
		<div class="row">
			<div class="span8">
				<section class="widget">
					<header>
						<h4>Your stats</h4>
					</header>
					<div class="body no-margin">
						<div ng-controller="DashboardCtrl" ng-init="init()">
								<svg id="d3Parent">
								</svg>
							<div ng-repeat="item in metrics">
								<div ng-switch on="item.type">
									<div ng-switch-when="dial">
										<gh-dial val="item.data" gh-format="item.format" metric-title="item.title" gh-target="item.target"></gh-dial>
									</div>
									<div ng-switch-when="meter">
										<gh-meter val="item.data" gh-format="item.format" metric-title="item.title" gh-target="item.target"></gh-meter>
									</div>
								<!-- end switch -->	
								</div>
						    <!-- end repeat -->
							</div>
						<!-- end ctrl -->
						</div>
					<!-- end body -->
					</div>
			</section>
		</div>

		<div class="span4" ng-controller="SiteConfigCtrl">
			<section class="widget large">
				<header>
					<h2>
						{{site.incentivename}}
					</h2>
				</header>
				<div class="body">

					<div class="wrapper">

						<div class="text">
							<a href="#">
								{{site.incentiveblurb}}
							</a>
						</div>
					</div>
				</div>
			</section>
			<!--end span-->
		</div>
		<!--end row-->
	</div>

	<div class="row">
		<div class="span8">

			<section class="widget large">

				<header>
					<h4>
						<i class="eicon-chat"></i>
						Chat
					</h4>
				</header>
				<div class="body">
					<div id="chat" class="chat" ng-controller="Chat">
						<div class="slimScrollDiv">
							<div id="chat-messages" class="chat-messages" style="overflow: hidden; width: auto; height: 240px;">

								<div ng-cloak ng-repeat="message in messages" class="chat-message">
									<div class="sender pull-right">
										<div class="icon"><img ng-src="{{message.photo}}" class="profile-img-small" alt=""></div>
										<div class="time">{{message.created_at|since}}</div>
									</div>
									<div class="chat-message-body on-left">
										<span class="arrow"></span>
										<div class="sender"><a href="#">{{message.from}}</a></div>
										<div class="text">{{message.content}}</div>
									</div>
								</div>
							</div>
							<div class="slimScrollBar ui-draggable"></div>
							<div class="slimScrollRail"></div>
						</div>
						

						<form ng-submit="addMessage()" class="chat-footer row">
							<div class="span5">
								<input id="new-message" type="text" ng-model="message.body" class="form-control input-transparent" placeholder="Enter your message.."></input>
							</div>
							<div class="span3">
								<button type="submit" id="new-message-btn" class="btn btn-transparent btn-block">Send</button>
							</div>
						</form>

					</div>
				</div>
			</section>
		</div>

		<div class="span4">
			<section class="widget large">
				<header>
					<h4>
						Feed
					</h4>
					<div class="actions">
						<button class="btn btn-transparent btn-xs">Show All <i class="icon-arrow-down"></i></button>
					</div>
				</header>
				<div class="body">
					<div class="slimScrollDiv" >
						<div id="feed" class="feed">
						<div class="wrapper">
							<div class="vertical-line"></div>
							<section class="feed-item">
								<div class="icon pull-left">
									<i class="icon-comment"></i>
								</div>
								<div class="feed-item-body">
									<div class="text">
										Kudos to <a href="#">John Doe</a> for hitting his the target
									</div>
									<div class="time pull-left">
										3 h
									</div>
								</div>
							</section>
							<section class="feed-item">
								<div class="icon pull-left">
									<i class="icon-ok color-green"></i>
								</div>
								<div class="feed-item-body">
									<div class="text">
										Don't forget our <a href="#">training call</a> at 9am PST tomorrow
									</div>
									<div class="time pull-left">
										10 h
									</div>
								</div>
							</section>
							<section class="feed-item">
								<div class="icon pull-left">
									<img src="//www.invtr.co/img/3.jpg" class="profile-img-small" alt="">
								</div>
								<div class="feed-item-body">
									<div class="text">
										New user <a href="#">Greg Wilson</a> registered.
									</div>
									<div class="time pull-left">
										Today
									</div>
								</div>
							</section>
							<section class="feed-item">
								<div class="icon pull-left">
									<i class="icon-bolt color-orange"></i>
								</div>
								<div class="feed-item-body">
									<div class="text">
										<a href="#">New video</a> posted. Check it out now!
									</div>
									<div class="time pull-left">
										Yesterday
									</div>
								</div>
							</section>

							<section class="feed-item">
								<div class="icon pull-left">
									<i class="icon-arrow-down"></i>
								</div>
								<div class="feed-item-body">
									<div class="text">
										<a href="#">Load more...</a>
									</div>
								</div>
							</section>
							<!--end wrapper-->
						</div>
						<!--end slimscroll-->
					</div>
					<!--end body-->
				</div>
				<!--end col-->
			</div>

		</div>
		
		
		
		<div class="span8" ng-controller="LeaderboardCtrl" ng-init="init()">
			<section class="widget">
				<header>
					<h4>
						<i class="icon-shopping-cart"></i>
						Leaderboard
						<small>
							One month tracking
						</small>
					</h4>
				</header>
				<div class="body">
					<table class="table table-striped no-margin sources-table">
						<thead>
							<tr>
								<th class="source-col-header">Source</th>
								<th>Amount</th>
								<th>Change</th>
								<th class="hidden-xs">Percent.,%</th>
								<th>Target</th>
								<th class="chart-col-header hidden-xs">Trend</th>
							</tr>
						</thead>
						<tbody>
						 <tr ng-repeat="user in leaderdata">
								<td><div class="icon">
									<img ng-src="{{user.SmallPhotoUrl}}" class="profile-img-small" alt="">
								</div>
							</td>
							<td>{{user.oppcount}}</td>
							<td><strong class="color-green">+53</strong></td>
							<td class="hidden-xs">+12</td>
							<td>50</td>
							<td class="chart-cell hidden-xs">
								<div id="direct-trend"><canvas width="150" height="30" style="display: inline-block; width: 150px; height: 30px; vertical-align: top;"></canvas></div>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
		</section>
		</div>


<!--end container-->
</div>

<!--end fade in-->
</div>