<style>

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: auto;
  position: relative;
  width: 960px;
}

text {
  font: 10px sans-serif;
}

form {
  position: absolute;
  right: 10px;
  top: 10px;
}

  
  .background {
    fill: #DFEAFD;
  }
  
  .foreground {
    fill: #2E7AF9;
  }
  
  text {
    font-family: 'Georgia' sans-serif;
    font-size: 90px;
  }
  
  .text2 {
    font-family: 'Georgia' sans-serif;
    font-size: 20px;
  }



</style>

<div ng-controller="DashboardCtrl" ng-init="init();">
	<div ng-repeat="item in metrics">
	  <div ng-switch on="item.type">
	    <div ng-switch-when="dial">
			<gh-dial val="item.data" data-format="item.data-format" metric-title="item.title"></gh-dial>
		</div>
	    <div ng-switch-when="meter">
			<gh-meter val="item.data" data-format="item.data-format" metric-title="item.title"></gh-meter>
		</div>
	  </div>
	</div>
</div>
