<div class="container" fade-in>
    <div id="hero-container" class="container">

        <div class="hero-unit" ng-controller="SiteConfigCtrl">

            <h1>{{site.title}}</h1>
            <p class="tagline">{{site.tagline}}</p>
			
			<div ng-controller="CountdownCtrl" ng-init="init()">
				<timer interval="1000" countdown="config.countdown" timespan="config.countdown">{{days}} days, {{hours}} hours, {{minutes}} minutes, {{seconds}} seconds.</timer>
			</div>

            <br>
            <p>
               {{site.description}}
            </p>
        </div>
    </div>
</div>
