<div class="span8">
	<section class="widget">
	                    <header>
	                        <h4>
	                            <i class="icon-shopping-cart"></i>
	                            Leaderboard
	                            <small>
	                                One month tracking
	                            </small>
	                        </h4>
	                    </header>
	                    <div class="body" ng-controller="LeaderboardCtrl">
	                        <table class="table table-striped no-margin sources-table">
	                            <thead>
	                            <tr>
	                                <th class="source-col-header">Source</th>
	                                <th>Amount</th>
	                                <th>Change</th>
	                                <th class="hidden-xs">Percent.,%</th>
	                                <th>Target</th>
	                                <th class="chart-col-header hidden-xs">Trend</th>
	                            </tr>
	                            </thead>
	                            <tbody>
	                            <tr>
	                                <td><div class="icon">
								         <img src="//www.invtr.co/img/1.jpg" class="img-circle" alt="">
									 </div>
								    </td>
	                                <td>713</td>
	                                <td><strong class="color-green">+53</strong></td>
	                                <td class="hidden-xs">+12</td>
	                                <td>900</td>
	                                <td class="chart-cell hidden-xs">
	                                    <div id="direct-trend"><canvas width="150" height="30" style="display: inline-block; width: 150px; height: 30px; vertical-align: top;"></canvas></div>
	                                </td>
	                            </tr>
	                            <tr>
	                                <td><div class="icon">
								         <img src="//www.invtr.co/img/2.jpg" class="img-circle" alt="">
									 </div>
								    </td>
	                                
	                                <td>562</td>
	                                <td><strong>+84</strong></td>
	                                <td class="hidden-xs">+64</td>
	                                <td>500</td>
	                                <td class="chart-cell hidden-xs">
	                                    <div id="refer-trend"><canvas width="150" height="30" style="display: inline-block; width: 150px; height: 30px; vertical-align: top;"></canvas></div>
	                                </td>
	                            </tr>
	                            <tr>
	                                <td><div class="icon">
								         <img src="//www.invtr.co/img/3.jpg" class="img-circle" alt="">
									 </div>
								    </td>
	                                
	                                <td>148</td>
	                                <td><strong class="color-red">-12</strong></td>
	                                <td class="hidden-xs">+3</td>
	                                <td>180</td>
	                                <td class="chart-cell hidden-xs">
	                                    <div id="social-trend"><canvas width="150" height="30" style="display: inline-block; width: 150px; height: 30px; vertical-align: top;"></canvas></div>
	                                </td>
	                            </tr>
	                            <tr>
	                                <td><div class="icon">
								         <img src="//www.invtr.co/img/4.jpg" class="img-circle" alt="">
									 </div>
								    </td>
	                                
	                                <td>653</td>
	                                <td><strong class="color-green">+23</strong></td>
	                                <td class="hidden-xs">+43</td>
	                                <td>876</td>
	                                <td class="chart-cell hidden-xs">
	                                    <div id="search-trend"><canvas width="150" height="30" style="display: inline-block; width: 150px; height: 30px; vertical-align: top;"></canvas></div>
	                                </td>
	                            </tr>
	                            <tr>
	                                <td><div class="icon">
								         <img src="//www.invtr.co/img/5.jpg" class="img-circle" alt="">
									 </div>
								    </td>
	                                
	                                <td>976</td>
	                                <td><strong>+101</strong></td>
	                                <td class="hidden-xs">-7</td>
	                                <td>844</td>
	                                <td class="chart-cell hidden-xs">
	                                    <div id="internal-trend"><canvas width="150" height="30" style="display: inline-block; width: 150px; height: 30px; vertical-align: top;"></canvas></div>
	                                </td>
	                            </tr>
	                            </tbody>
	                        </table>
	                    </div>
	                </section>
</div>
