<style>
.mainlogo {
margin-bottom: 30px;
margin-top: -5px;
margin-left: -30px;
width: 180px;
}
.hero-unit {
color: white;
width: 570px;
background: rgba(30,30,30,0.8);
margin-top: 40px;
}
.navbar-inner {
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}
body {
font-weight: 300;
padding-bottom: 0px;
background: url('http://www.invtr.co/img/americascupl.jpg') no-repeat bottom center fixed;
-webkit-background-size: 100% 490px;
-moz-background-size: cover;
-o-background-size: cover;
background-size: 100% 490px;
background-color: #f2f2f0;
}
header.nav-header {
width: 100%;
height: 60px;
padding: 0 20px;
background: rgba(253, 253, 255, 1);
box-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 rgba(0, 0, 0, 0.2), 0 5px 1px rgba(0, 0, 0, 0.1), 0 0 3px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2);
border-radius: 2px;
position: fixed;
top: 0px;
z-index: 100;
}
.ng-scope {
}
.nav-header {
display: block;
padding: 3px 15px;
font-size: 11px;
font-weight: bold;
line-height: 50px;
color: #999999;
text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
text-transform: capitalize;
}
</style>
<!-- add navbar-inverse class for black/google-like bar -->
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
  <!--           <a class="btn btn-navbar navbar-fixed-top" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a> -->

            <a class="brand" href="#"><img src="http://www.invtr.co/img/inviter 2 - small.png" class="mainlogo"></a>
			<div ng-controller="UserCtrl" ng-init="init()">
				<ul class="nav" ng-show="authenticated">
	                <li>
				
	            		<a href="" class="dropdown-toggle" ng-click="go('dashboard')">Dashboard</a>
					</li>
       
						
	                <li ng-controller="InboxCtrl" ng-init="init()" class="dropdown">

	                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">

	                            <span>
	                     		   <i class="icon-envelope-alt"></i>&nbsp;Messages ({{inbox.length}})
	                            </span>

	                            <b class="caret"></b>

	                        </a>

	                       <!-- <ul class="dropdown-menu">
	                        	<div ng-include="'partials/mail-subsections.html'"></div>
	                        </ul>-->
                    </li>
               

                </ul>

                <div  class="nav navbar-form pull-right">
 			 	   <div>
 			 		  	   
 			 		     <span ng-show="authenticated">
						<!-- FB only <img ng-src="http://graph.facebook.com/{{user.username}}/picture/"> -->
						<img ng-src="{{user.SmallPhotoUrl}}"/>
 			 		       Welcome {{user.FirstName}} | <a class="btn btn-primary" ng-click="logout()"><i class="icon-off icon-white"></i>Log out</a>
 			 		     </span>
 						 <a ng-hide="authenticated" class="btn btn-primary" ng-click="login()"><i class="icon-user icon-white"></i> Log in</a>
 			 		 
 			 		</div>
				</div>
                
            </div>
			
        </div>
    </div>
</div>

