<!-- add navbar-inverse class for black/google-like bar -->
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
  <!--           <a class="btn btn-navbar navbar-fixed-top" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a> -->

            <a class="brand" href="#">Inviter</a>
			<ul class="nav">
                <li>
				
            		<a href="" class="dropdown-toggle" ng-click="go('dashboard')">Dashboard</a>
				</li>
       
						
                    <li ng-controller="InboxCtrl" class="dropdown">

                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">

                            <span>
                     		   <i class="icon-envelope-alt"></i>&nbsp;Messages ({{recentMail.length}})
                            </span>

                            <b class="caret"></b>

                        </a>

                        <!-- TODO mail should be managed as a service -->
                        <ul class="dropdown-menu">
                         <!--   <div ng-include="'partials/mail-subsections.html'"></div>-->
                        </ul>
                    </li>
               

                </ul>

                <div class="nav navbar-form pull-right">
 			 	   <div ng-controller="UserCtrl" ng-init="init()">
 			 		  	   
 			 		     <span ng-show="authenticated">
						<!-- FB only <img ng-src="http://graph.facebook.com/{{user.username}}/picture/"> -->
						<img ng-src="{{user.SmallPhotoUrl}}"/>
 			 		       Welcome {{user.FirstName}} | <a class="btn btn-primary" ng-click="logout()"><i class="icon-off icon-white"></i>Log out</a>
 			 		     </span>
 						 <a ng-hide="authenticated" class="btn btn-primary" ng-click="login()"><i class="icon-user icon-white"></i> Log in</a>
 			 		 
 			 		</div>
                  
                </div>
            </div>
        </div>
    </div>
</div>

