<script>
   // Wait for Cordova to load
   //
   document.addEventListener("deviceready", onDeviceReady, false);

   // Cordova is ready
   //
   function onDeviceReady() {
       // Empty
   }

   // alert dialog dismissed
   function alertDismissed() {
       // do something
   }

   // Show a custom alertDismissed
   //
   function showAlert() {
       navigator.notification.alert(
           'You are the winner!',  // message
           alertDismissed,         // callback
           'Game Over',            // title
           'Done'                  // buttonName
       );
   }

</script>
   

<p><a href="#" onclick="showAlert(); return false;">Show Alert</a></p>

<h1> Main View: {{ status }} </h1>