<div fade-in>
    <div class="container">

       <h1>Welcome back {{currentUser}}!</h1>

		<div id='posts' ng-controller="PostsCtrl">

		  <ul>
		      <div id='post' ng-repeat="post in posts">
				  <div id='postMedia'>
				  <img ng-click="" ng-src={{post.attachment}} />
				  </div>
				  <div ng-click="">
					  <div ng-click="">{{post.message}}</div>
					  <div ng-click="">{{post.created_at}}</div>
					  <div ng-click="">{{post.submitter}}</div>
				  </div>
		      <h1>Comments</h1>
			  <div id='comment' ng-repeat="comment in post.comments">
				  <div ng-click="">{{comment.body}}</div>
			  </div>
			  
			  <form ng-submit="addComment(post,post.comments.comment.body)">
			     <input id="body" type="text" placeholder="Reply…" ng-model="post.comments.comment.body">
			     <input type="submit" value="Add">
			  </form>
			</div>
		  </ul>
		</div>
       

    </div>

</div>